<div class="start">
  <div class="contenuto">
    <mat-card mat-button class="int">
      <mat-card-title>
        Incasso
      </mat-card-title>
      <mat-card-content>
        <table>
          <tr>
            <th>Incasso</th>

            <th>Categoria</th>
          </tr>
          <tr>
            <th class="scritta">{{today23[0].Totale}}  €</th>

            <th class="scritta">{{today23[0].Categoria}}</th>
          </tr>
          <tr>
            <td>Scontrini: {{today23[0].Scontrini}}</td>

            <td>Valore: {{today23[0].Valore}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contenuto">
    <mat-card class="int3">
      <mat-card-title>
        Ultimi 7 Giorni <button mat-button style="margin-left: 28vw;" (click)="show2=!show2"><mat-icon>bar_chart</mat-icon></button>
      </mat-card-title>
      <mat-card-content *ngIf="show2">
        <google-chart
      [title]="title2"
      [type]="type2"
      [data]="data3"
      [columns]="columns"
      [options]="options"
      [width]="chartWidth"
      [height]="chartHeight2">
    </google-chart>
      </mat-card-content>
      <mat-card-content *ngIf="!show2">
        <table>
          <tr>
            <td style="text-align: left;">{{lastseven[0].Data}}</td>
            <td style="text-align: left;">{{lastseven[1].Data}}</td>
            <td style="text-align: left;">{{lastseven[2].Data}}</td>
            <td style="text-align: left;">{{lastseven[3].Data}}</td>
            <td style="text-align: left;">{{lastseven[4].Data}}</td>
            <td style="text-align: left;">{{lastseven[5].Data}}</td>
            <td style="text-align: left;">{{lastseven[6].Data}}</td>
          </tr>
          <tr>
            <td style="text-align: left;">{{lastseven[0].Totale}}</td>
            <td style="text-align: left;">{{lastseven[1].Totale}}</td>
            <td style="text-align: left;">{{lastseven[2].Totale}}</td>
            <td style="text-align: left;">{{lastseven[3].Totale}}</td>
            <td style="text-align: left;">{{lastseven[4].Totale}}</td>
            <td style="text-align: left;">{{lastseven[5].Totale}}</td>
            <td style="text-align: left;">{{lastseven[6].Totale}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="start">
  <mat-card mat-button class="int2">
    <mat-card-title>
      Categoria <button mat-button style="margin-left: 28vw;" (click)="show=!show"><mat-icon>bar_chart</mat-icon></button>
    </mat-card-title>
    <mat-card-subtitle>
      Classifica Vendita Categoria
    </mat-card-subtitle>
    <mat-card-content *ngIf="show" >
      <!--

      --><google-chart
      [title]="title"
      [type]="type"
      [data]="data1"
      [width]="chartWidth"
      [height]="chartHeight"
      [dynamicResize]="true">
    </google-chart>
    </mat-card-content>
    <mat-card-content *ngIf="!show">
      <table>
        <tr>
          <th>Categoria</th>
          <th>Q.ta</th>
          <th>Valore</th>
        </tr>
       <tr *ngFor="let x of categoria" >
         <td>
           {{x.Categoria}}
         </td>
         <td>
           {{x.quantita}}
         </td>
         <td>
           {{x.Valore}}
         </td>
       </tr>
      </table>
    </mat-card-content>
  </mat-card>


</div>
<div class="start">
  <mat-card mat-button class="int2">
    <mat-card-title>
      Top 5
    </mat-card-title>
    <mat-card-subtitle>Articoli più Venduti Oggi</mat-card-subtitle>
      <mat-card-content>
        <table mat-table [dataSource]="articoli" class="mat-elevation-z8">

          <ng-container matColumnDef="cat">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.cat}} </td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Codice </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="qta">
            <th mat-header-cell *matHeaderCellDef> Q.ta </th>
            <td mat-cell *matCellDef="let element"> {{element.qta}} </td>
          </ng-container>

          <ng-container matColumnDef="valore">
            <th mat-header-cell *matHeaderCellDef> Valore </th>
            <td mat-cell *matCellDef="let element"> {{element.valore}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="inttabella"></tr>
          <tr mat-row *matRowDef="let row; columns: inttabella;"></tr>
        </table>

      </mat-card-content>
    </mat-card>
</div>
<div class="start">
  <mat-card mat-button class="int2">
    <mat-card-title>
      Mese
    </mat-card-title>
    <mat-card-subtitle>
      Incassi Ultimi 6 Mesi
    </mat-card-subtitle>
    <mat-card-content *ngIf="show3">
      <google-chart
      [title]="title3"
      [type]="type3"
      [data]="data4"
      [width]="chartWidth"
      [height]="chartHeight"
      [dynamicResize]="true">
    </google-chart>
    </mat-card-content>
  </mat-card>
</div>
